[submodule "YearTwoOpenGLProject/deps/glm"]
	path = deps/glm
	url = https://github.com/g-truc/glm
[submodule "YearTwoOpenGLProject/deps/glfw"]
	path = deps/glfw
	url = https://github.com/glfw/glfw
[submodule "YearTwoOpenGLProject/deps/tinyobjloader"]
	path = deps/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader.git
