[submodule "YearTwoOpenGLProject/deps/glfw"]
	path = YearTwoOpenGLProject/deps/glfw
	url = https://github.com/glfw/glfw.git
[submodule "YearTwoOpenGLProject/deps/stb"]
	path = YearTwoOpenGLProject/deps/stb
	url = https://github.com/nothings/stb.git

[submodule "YearTwoOpenGLProject/deps/mesh_loaders"]
	
	path = YearTwoOpenGLProject/deps/mesh_loaders
	
	url = https://github.com/nathanwblair/mesh_loaders.git
